<div class="grid">
  <div class="row col-12">
    <h1>
      Tus Compras
      <i class="pi pi-shopping-cart ml-2" style="font-size: 2.5rem"></i>
    </h1>
    <hr />
  </div>
  <div
    *ngIf="productos.length === 0"
    class="col-12 flex align-items-center justify-content-center"
  >
    <p>No hay compras.</p>
  </div>
  <div *ngIf="productos.length > 0">
    <div class="row col-12">
      <div class="card">
        <p-table [value]="productos">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>Producto</th>
              <th>Fecha de Compra</th>
              <th>Estatud de la Compra</th>
              <th>Detalle de la Compra</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-articulo>
            <tr>
              <td>
                <img
                  src="assets/productos/{{ articulo.articulo.categoria }}/{{
                    articulo.articulo.img
                  }}.png"
                  alt="articulo.articulo.img"
                  style="width: 100px"
                />
              </td>
              <td>
                <p
                  class="link"
                  (click)="redirect(articulo.articulo._id)"
                >
                  {{ articulo.articulo.marca }}
                </p>
              </td>
              <td class="text-center">{{ articulo.fecha_compra | fecha }}</td>
              <td
                class="text-center {{
                  articulo.estatus ? 'text-status' : 'text-status-proces'
                }}"
              >
                {{ articulo.estatus | estadoCompra }}
              </td>
              <td class="text-center">
                <p class="link" (click)="detalle(articulo._id)">
                  {{ articulo.identificador | uppercase }}
                </p>
              </td>
              <td>{{ articulo.articulo.precio | currency : "MXN" }}</td>
              <td>
                <p class="text-center" style="width: 100px">
                  {{ articulo.cantidad }}
                </p>
              </td>
              <td>
                {{
                  articulo.cantidad * articulo.articulo.precio
                    | currency : "MXN"
                }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
