<div class="grid my-5 px-5">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="card">
      <p-carousel
        [value]="imgCarousel"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="3000"
      >
        <ng-template let-carousel pTemplate="item">
          <div class="m-2 text-center py-5 px-3">
            <div class="mb-3">
              <img [src]="carousel" [alt]="carousel" class="w-6 shadow-2" />
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="col-12" *ngIf="isLoading">
    <app-shadow-shop></app-shadow-shop>
  </div>

  <div class="grid" *ngIf="!isLoading">
    <div class="col-12">
      <h3>Lo mas Vendido en Consumibles</h3>
      <hr>
      <app-more-shop [products]="consumibles.length > 0 ? consumibles : []"></app-more-shop>
    </div>
    <div class="col-12" *ngIf="accesorios.length > 0">
      <h3>Lo mas Vendido en Accesorios</h3>
      <hr>
      <app-more-shop [products]="accesorios.length > 0 ? accesorios : []"></app-more-shop>
    </div>
    <div class="col-12" *ngIf="cascos.length > 0">
      <h3>Lo mas Vendido en Cascos</h3>
      <hr>
      <app-more-shop [products]="cascos.length > 0 ? cascos : []"></app-more-shop>
    </div>
    <div class="col-12" *ngIf="llantas.length > 0">
      <h3>Lo mas Vendido en Llantas</h3>
      <hr>
      <app-more-shop [products]="llantas.length > 0 ? llantas : []"></app-more-shop>
    </div>
    <div class="col-12" *ngIf="protecciones.length > 0">
      <h3>Lo mas Vendido en Protecciones</h3>
      <hr>
      <app-more-shop [products]="protecciones.length > 0 ? protecciones : []"></app-more-shop>
    </div>
  </div>
</div>
