<div class="grid my-5 px-5">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="card">
      <p-carousel
        [value]="imgCarousel"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="3000"
      >
        <ng-template let-carousel pTemplate="item">
          <div class="m-2 text-center py-5 px-3">
            <div class="mb-3">
              <img [src]="carousel" [alt]="carousel" class="w-6 shadow-2" />
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div *ngFor="let produc of productos" class="col-12 md:col-6 lg:col-4 px-5">
    <p-card
      [header]="produc.marca"
      subheader="{{ produc.precio | currency : 'MXN' }}"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="assets/productos/{{ produc.categoria }}/{{ produc.img }}.png"
        />
      </ng-template>
      <p>{{ produc.descripcion }}</p>
    </p-card>
  </div>
</div>
