<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="position" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<div class="grid">
  <div class="col-6">
    <h2>Metodo de Pago y Direccion</h2>
    <hr />
    <div class="grid mt-3">
      <div class="col-12 px-5">
        <div class="grid">
          <div class="col-12">
            <label
              >Metodo de Pago <i class="pi pi-credit-card ml-2"></i>
            </label>
          </div>
          <div class="col-6">
            <div class="grid">
              <div class="col-12 flex align-items-center">
                <p-radioButton
                  name="pe"
                  value="pe"
                  [(ngModel)]="metodo"
                  inputId="metodo1"
                ></p-radioButton>
                <label for="metodo1" class="ml-2">Pago en efectivo</label>
              </div>

              <div class="col-12 flex align-items-center">
                <p-radioButton
                  name="tg"
                  value="tg"
                  [(ngModel)]="metodo"
                  inputId="metodo2"
                ></p-radioButton>
                <label for="metodo2" class="ml-2">Tarjeta guardada</label>
              </div>
            </div>
          </div>

          <div class="col-6">
            <!-- Pago efectivo -->
            <div *ngIf="mostrarOptionPago('pe')">
              <div class="grid">
                <div class="col-12">
                  <h4>Selecciona donde pagar</h4>
                </div>
                <div class="col-12">
                  <div class="grid">
                    <div class="col-12">
                      <p-radioButton
                        name="Oxxo"
                        value="Oxxo"
                        [(ngModel)]="tienda"
                        inputId="tienda1"
                      ></p-radioButton>
                      <label for="tienda1" class="ml-2">Oxxo</label>
                    </div>
                    <div class="col-12">
                      <p-radioButton
                        name="7-eleven"
                        value="7-eleven"
                        [(ngModel)]="tienda"
                        inputId="tienda2"
                      ></p-radioButton>
                      <label for="tienda2" class="ml-2">7-Eleven</label>
                    </div>
                    <div class="col-12">
                      <p-radioButton
                        name="Kiosko"
                        value="Kiosko"
                        [(ngModel)]="tienda"
                        inputId="tienda3"
                      ></p-radioButton>
                      <label for="tienda3" class="ml-2">Kiosko</label>
                    </div>
                  </div>
                </div>
                <div class="col-12 flex align-items-center justify-content-center">
                  <p-button
                    label="Descargar recibo"
                    [disabled]="tienda === ''"
                    styleClass="p-button-outlined p-button-secondary p-button-lg"
                  ></p-button>
                </div>
              </div>
            </div>
            <!-- Tarjeta Guardada -->
            <div *ngIf="mostrarOptionPago('tg')">
              <p-dropdown
                [options]="tarjetas"
                [(ngModel)]="selectTarjeta"
                placeholder="Seleccionar tarjeta"
                [editable]="false"
                optionLabel="nombre"
                (ngModelChange)="setIdT()"
              ></p-dropdown>
              <div
                *ngIf="selectTarjeta !== undefined && mostrarOptionPago('tg')"
                class="mt-3"
              >
                <p-card [header]="selectTarjeta.nombre" subheader="Tarjeta">
                  <p>
                    Terminacion:
                    <small>{{
                      selectTarjeta.numeroT | numTarjeta : "*"
                    }}</small>
                  </p>
                  <p>
                    Fecha de vencimiento:
                    <small>{{ selectTarjeta.fecha }}</small>
                  </p>
                </p-card>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 px-5">
        <div class="grid">
          <div class="col-12">
            <label>Ubicacion <i class="pi pi-map ml-2"></i> </label>
          </div>
          <div class="col-12">
            <p-dropdown
              [options]="direcciones"
              [(ngModel)]="selectDireccion"
              placeholder="Seleccionar direccion"
              [editable]="false"
              optionLabel="nombre"
              (onChange)="setIdD($event.value)"
            ></p-dropdown>
          </div>
          <div class="col-12">
            <div class="mt-3" *ngIf="selectDireccion !== undefined">
              <p-card
                [header]="selectDireccion.nombre"
                subheader="Direccion de envio"
              >
                <p>
                  Direccion:
                  <small>{{ selectDireccion.direccion }}</small>
                </p>
                <p>
                  Codigo Postal:
                  <small>{{ selectDireccion.codigo }}</small>
                </p>
                <p>
                  Numero de telefono:
                  <small>{{ selectDireccion.numero }}</small>
                </p>
              </p-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 mb-5">
    <h2>Productos a comprar</h2>
    <app-lista-articulos
      [articulos]="articulos"
      [subtotal]="subtotal"
      [delete]="false"
    ></app-lista-articulos>

    <div class="flex flex-row-reverse flex-wrap">
      <p-button
        label="Finalizar Compra"
        styleClass="p-button-outlined p-button-danger p-button-lg mt-3"
        [disabled]="!isvalid()"
        (onClick)="checkTienda()"
      ></p-button>
    </div>
  </div>
</div>
