<div class="grid my-5 px-5">

  <div class="col-12 flex align-items-center justify-content-center">
    <img src="assets/logo-p.png" alt="">
  </div>

  <div class="col-12">
    <p-fieldset legend="Mision" [toggleable]="true">
      <p>
        Somos una empresa especializada en la venta de productos y accesorios de
        motos ofreciendo una gran cantidad de productos de diferentes marcas y
        modelos para cumplir con nosotros expectativas del cliente con precios
        que se ajusten a tu presupuesto y poder cumplir con los del mercado.
      </p>
    </p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset legend="Vision" [toggleable]="true">
      <p>
        Ser lideres en ventas de nuestra región consolidada y reconocida en la
        comercialización y abastecimiento de refacciones y accesorios para
        motociclistas sin dejar atrás nuestra atención y costo beneficio que nos
        caracterizan .
      </p>
    </p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset legend="Valores" [toggleable]="true">
      <p>
        Honestidad respetamos y cuidamos todos los recursos que la organización
        provee para desempeñar nuestras actividades y cumplir los objetivos
        responsabilidad sabemos si hacemos lo que se espera de nosotros de
        servicio nos enfocamos a satisfacer con entusiasmo iniciativa y
        creatividad las necesidades de nuestros clientes internos y externos
        congruencia somos coherentes entre lo que decimos y lo que hacemos
        cumpliendo lo que prometemos.
      </p>
    </p-fieldset>
  </div>
</div>
