<div class="grid">
  <div class="col-12">
    <p-skeleton
      width="10rem"
      styleClass="mb-2"
      borderRadius="16px"
    ></p-skeleton>
    <div class="grid">
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p-skeleton
      width="10rem"
      styleClass="mb-2"
      borderRadius="16px"
    ></p-skeleton>
    <div class="grid">
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p-skeleton
      width="10rem"
      styleClass="mb-2"
      borderRadius="16px"
    ></p-skeleton>
    <div class="grid">
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p-skeleton
      width="10rem"
      styleClass="mb-2"
      borderRadius="16px"
    ></p-skeleton>
    <div class="grid">
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p-skeleton
      width="10rem"
      styleClass="mb-2"
      borderRadius="16px"
    ></p-skeleton>
    <div class="grid">
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="30rem" height="10rem"></p-skeleton>
      </div>
    </div>
  </div>
</div>
