@import "primeng/resources/themes/viva-dark/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body{
  margin: 15px;
  background-color: var(--surface-b);
  font-family: var(--font-family);
}

.contenido {
  min-height: 100%;
}

.text-warn{
  color: #cc5252;
}

.text-status{
  color: #20ef6c;
}

.text-status-proces{
  color: #007bff;
}

.link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s;
}

.link:hover {
  color: #8fa0e2;
}