@import "primeng/resources/themes/viva-dark/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body{
  margin: 15px;
  background-color: var(--surface-b);
  font-family: var(--font-family);
}