<footer>
  <div class="grid">
    <div class="col-12 md:col-8 lg:col-8 px-5">
      <div class="grid">
        <div class="col-12">
          <h3>UNETE A NOSOTROS</h3>
          <p>
            Registrate o inicia sesion para mantenerte al margen de nuestras
            promociones
          </p>
        </div>
        <div class="col-12">
          <div class="flex justify-content-center flex-wrap">
            <app-btn-auth *ngIf="username.length === 0"></app-btn-auth>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-4 lg:col-4">
      <div class="flex justify-content-center flex-wrap">
        <ul>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="pi pi-facebook mr-2"></i>Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="pi pi-instagram mr-2"></i>Instagram
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/" target="_blank">
              <i class="pi pi-youtube mr-2"></i>Youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
