<form [formGroup]="direccion" autocomplete="off">
  <div class="flex flex-column gap-2 mb-3">
    <label htmlFor="username">Nombre</label>
    <input
      pInputText
      id="username"
      formControlName="nombre"
      placeholder="Nombre de quien recibe"
    />
    <small *ngIf="getErrors('nombre')" class="text-warn">El campo nombre es obligatorio.</small>
  </div>
  <div class="flex flex-column gap-2 mb-3">
    <label htmlFor="direccion">Direccion</label>
    <input
      pInputText
      id="direccion"
      formControlName="direccion"
      placeholder="Direccion"
    />
    <small *ngIf="getErrors('direccion')" class="text-warn">El campo direccion es obligatorio.</small>
  </div>
  <div class="flex flex-column gap-2 mb-3">
    <label htmlFor="codigo">Codigo Postal</label>
    <p-inputMask
      inputId="codigo"
      formControlName="codigo"
      mask="99999"
      placeholder="12345"
    ></p-inputMask>
    <small *ngIf="getErrors('codigo')" class="text-warn">El campo codigo es obligatorio y debe contener 5 digitos.</small>
  </div>
  <div class="flex flex-column gap-2 mb-3">
    <label htmlFor="numero">Numero Telefonico</label>
    <p-inputMask
      inputId="numero"
      formControlName="numero"
      mask="99-99-99-99-99"
      placeholder="55-55-55-55-55"
    ></p-inputMask>
    <small *ngIf="getErrors('numero')" class="text-warn">El campo numero es obligatorio y debe contener 10 digitos.</small>
  </div>
  <button pButton class="p-button-outlined p-button-primary" label="Crear" (click)="ejecutar()"></button>
</form>
